

    <div class="container ">
        <div class="row">
            <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12">
                <div class="col col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 mt-4">
                    <h2 class="text-center font-monospace fw-bold my-5">All Task Details</h2>
                </div>
                <div>
                    <button class="mb-1 font-monospace fw-bold " [routerLink]="['/task/create']">Create</button>
                </div>
                <table class="table table-info font-monospace table-hover  table-bordered ">
                    <thead class="bg-secondary table-secondary">
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Description</th>
                            <th scope="col">Actions</th>

                        </tr>
                    </thead>
                    <tbody class="bg-light ">
                        
                        <tr *ngFor="let i of data">

                            <th >{{i.title}}</th>
                            <td>{{i.description}}</td>
                            <td>
                                <button class="m-2 font-monospace fw-bold ">Update</button>
                                <button class="font-monospace fw-bold ">Delete</button>
                            </td>
                                                

                        </tr>

                    </tbody>
                </table>
            </div>
        </div>
    </div>